﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Timetracker</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Timetracker.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bonheur+Royale" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark 
                    bg-dark fg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">

                <a class="navbar-brand appname fs-2" asp-area="" 
                                                asp-controller="Home" 
                                                asp-action="Index">
                    Timetracker
                </a>

                <button class="navbar-toggler" type="button" 
                        data-bs-toggle="collapse" 
                        data-bs-target=".navbar-collapse" 
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex 
                            justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" 
                                                asp-controller="Home" 
                                                asp-action="Index">
                                Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" 
                                                asp-controller="Tasks" 
                                                asp-action="Measure">
                                Track time
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" 
                                                asp-controller="Tasks" 
                                                asp-action="Index">
                                Tasks
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" 
                                                asp-controller="Tags" 
                                                asp-action="Index">
                                Tags
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" 
                                                asp-controller="Analysis" 
                                                asp-action="Summary">
                                Summaries
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" 
                                                asp-controller="Analysis" 
                                                asp-action="Calendar">
                                Calendar
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" 
                                                asp-controller="Home" 
                                                asp-action="About">
                                About
                            </a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - Timetracker - <a asp-area="" 
                                                         asp-controller="Home" 
                                                         asp-action="Privacy">
                                                             Privacy
                                                      </a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
