﻿@model Timetracker.Models.AboutViewModel

@{
    ViewBag.Title = "About Timetracker";
}

<h2>Timetracker is a tool for tracking and analyzing time.</h2>

<hr />

<h2>Statistics</h2>
<table class="table">
    <tr>
        <th>Property</th>
        <th>Value</th>
    </tr>
    <tr>
        <td>Number of users</td>
        <td>@Html.DisplayFor(model => model.UsersRegistered)</td>
    </tr>
    <tr>
        <td>Tags defined</td>
        <td>@Html.DisplayFor(model => model.TagsDefined)</td>
    </tr>
    <tr>
        <td>Tasks tracked</td>
        <td>@Html.DisplayFor(model => model.TasksTracked)</td>
    </tr>
</table>