﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

This application comes with no support.
@* <address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a>
</address> *@