﻿@{
    ViewBag.Title = "Home Page";
}

<div class="py-3">
    <h1 class="appname display-5 fw-bold">
        Timetracker
    </h1>
    <p class="lead fs-4">
        Timetracker is a tool for tracking and analyzing time.
    </p>
</div>

<div class="row gy-3">
    <div class="col-md">
        <h2>Tracking what you do</h2>
        <p>
            Timetracker provides You with three counters:
            <ul>
                <li>a stopwatch,</li>
                <li>a timer, and</li>
                <li>a pomodoro timer.</li>
            </ul>
            You can choose which counter serves you best in a given situation.
        </p>
        @Html.ActionLink("Start tracking »", "Measure", "Tasks", 
                         null, new { @class = "btn btn-info" })
    </div>
    <div class="col-md">
        <h2>Providing summaries</h2>
        <p>
            Timetracker allows you to generate summary charts for periods of
            time. They display time spent on projects and can be filtered.
        </p>
        @Html.ActionLink("View summaries »", "Summary", "Analysis", 
                         null, new { @class = "btn btn-info" })
    </div>
    <div class="col-md">
        <h2>Providing a calendar</h2>
        <p>
            Timetracker places the tasks you track in a calendar. It provides
            you with a clean view of what you were doing in the past.
        </p>
        @Html.ActionLink("View calendar »", "Calendar", "Analysis",
                         null, new { @class = "btn btn-info" })
    </div>
</div>