﻿@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>We collect the following information:</p>
<ul>
    <li>Email address, during registration, for account identification,</li>
    <li>Your activities, to provide time tracking and analysis services.</li>
</ul>
<p>We do not disclose your personal information to third parties.</p>