﻿@model Timetracker.Models.TaskCreateViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div>
        <h4>Task</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.EditorFor(model => model.UtcOffset, new { htmlAttributes = new { hidden = "hidden", id = "timezone"}})

        <div class="row mb-3">
            @Html.LabelFor(model => model.StartTime, htmlAttributes: 
                           new { @class = "col-form-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.StartTime, 
                                new { htmlAttributes = 
                                     new { @class = "form-control" }})
                @Html.ValidationMessageFor(model => model.StartTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row mb-3">
            @Html.LabelFor(model => model.Duration, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.Duration, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Duration, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row mb-3">
            @Html.LabelFor(model => model.TagIds, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                <select class="form-control" name="TagIds" id="tags" multiple="multiple" size="15">
                    @foreach (var tag in Model.AvailableTags)
                    {
                        <option value="@tag.Id">@tag.Name</option>
                    }
                </select>
                @Html.ValidationMessageFor(model => model.TagIds, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    <script>
        const TimezoneInput = document.getElementById('timezone');
        const timezone = -new Date().getTimezoneOffset() / 60;
        TimezoneInput.value = timezone;

        const StartTimeInput = document.getElementById('StartTime');
        StartTimeInput.value = new Date().toISOString().substring(0, 16);
    </script>
}