﻿@model Timetracker.Models.Task

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Task</h4>
    <hr />
    <dl class="row">
        <dt class="col-1">
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd class="col-11">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt class="col-1">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd class="col-11">
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt class="col-1">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd class="col-11">
            @Html.DisplayFor(model => model.Duration)
        </dd>

        <dt class="col-1">
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd class="col-11">
            @Html.DisplayFor(model => model.EndTime)
        </dd>

        <dt class="col-1">
            @Html.DisplayNameFor(model => model.Tags)
        </dt>

        <dd class="col-11">
            <ul>
                @foreach (var tag in Model.Tags)
                {
                    <li>
                        @Html.ActionLink(tag.Name, "Details", "Tags", 
                                         new { id = tag.Id }, 
                                         new { @class = "badge rounded-pill " +
                                                        "bg-primary text-light"})
                    </li>
                }
            </ul>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
