﻿@model Timetracker.Models.TaskEditViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div>
        <h4>Task</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.TaskId)

        <div class="row mb-3">
            @Html.LabelFor(model => model.TagIds, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                <select asp-for="TagIds" asp-items="Model.AvailableTags"
                        class="form-control" size="15"></select>
                @Html.ValidationMessageFor(model => model.TagIds, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>