﻿@model IEnumerable<Timetracker.Models.Task>

@{
    ViewBag.Title = "Tasks";
}

<h2>Your tasks</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.StartTime), "Index", new { order = ViewBag.StartDateParm } )
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.Duration), "Index", new { order = ViewBag.DurationParm } )
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.EndTime), "Index", new { order = ViewBag.EndDateParm } )
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
