﻿@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery
@model IEnumerable<Timetracker.Models.Tag>

@{
    ViewBag.Title = "Measure";
    var csrfToken = Antiforgery.GetAndStoreTokens(Context).RequestToken;
}

<h2>Track your time</h2>

<div class="alert d-none" id="alert"></div>

<div class="row pb-3">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                Counter
            </div>
            <div class="card-body">
                <div id="greetingCounterCard" class="text-center">
                    <h3>Welcome!</h3>
                    <p>Please select a counter.</p>
                </div>
                <div id="stopwatchCounterCard" class="text-center">
                    <h1 id="stopwatchClockface">00:00:00</h1>
                    <button id="stopwatchStart" class="btn btn-success">Start</button>
                    <button id="stopwatchStop" class="btn btn-danger">Stop</button>
                </div>
                <div id="timerCounterCard">
                    <form class="row gy-3" id="timerForm">
                        <label class="form-label">Time</label>
                        <div class="col-md">
                            <div class="input-group">
                                <div class="input-group-text">h</div>
                                <input id="timerHoursInput"
                                        class="form-control"
                                        type="number"
                                        placeholder="00"
                                        min="0"
                                        max="99"
                                        required>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="input-group">
                                <div class="input-group-text">m</div>
                                <input id="timerMinutesInput"
                                        class="form-control"
                                        type="number"
                                        placeholder="00"
                                        min="0"
                                        max="59"
                                        required>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="input-group">
                                <div class="input-group-text">s</div>
                                <input id="timerSecondsInput"
                                        class="form-control"
                                        type="number"
                                        placeholder="00"
                                        min="0"
                                        max="59"
                                        required>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <input id="timerStartButton"
                                    class="btn btn-success btn-block"
                                    value="Start"
                                    type="submit" />
                        </div>
                    </form>
                    <div class="text-center" id="timerClock">
                        <h1 id="timerClockface">
                            00:00:00
                        </h1>
                        <button class="btn btn-warning" 
                                id="timerStopButton">
                            Stop
                        </button>
                    </div>
                </div>
                <div id="pomodoroCounterCard" class="center-block">
                    <form class="row gy-3" id="pomodoroForm">
                        <div class="col-md-6">
                            <label class="form-label" for="pomodoroMinutesInput">
                                Pomodoro duration
                            </label>
                            <div class="input-group">
                                <div class="input-group-text">min</div>
                                <input id="pomodoroMinutesInput"
                                        class="form-control"
                                        type="number"
                                        placeholder="00"
                                        min="0"
                                        max="59"
                                        value="25"
                                        required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label" for="breakMinutesInput">
                                Break duration
                            </label>
                            <div class="input-group">
                                <div class="input-group-text">min</div>
                                <input id="breakMinutesInput"
                                        class="form-control"
                                        type="number"
                                        placeholder="00"
                                        min="0"
                                        max="59"
                                        value="5"
                                        required>
                            </div>
                        </div>
                        <div class="col-12">
                            <input class="btn btn-success btn-block"
                                    value="Start"
                                    type="submit" />
                        </div>
                    </form>
                    <div class="text-center" id="pomodoroClock">
                        <h1 id="pomodoroClockface">00:00:00</h1>
                        <button class="btn btn-warning" id="pomodoroStopButton">Stop</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-7 pb-3">
        <div class="card">
            <div class="card-header">
                Tags
            </div>
            <div class="card-body">
                <form class="row">
                    <div class="col-12">
                        <input type="text" class="form-control" placeholder="Filter tags..." oninput="FilterTags(this)" />
                    </div>
                    <div class="col-12">
                        <select class="form-control" name="tags" id="tags" multiple="multiple" size="15">
                            @foreach (var tag in Model)
                            {
                                <option value="@tag.Id">@tag.Name</option>
                            }
                        </select>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-sm-5 pb-3">
        <div class="card">
            <div class="card-header">
                Counter type
            </div>
            <div class="card-body">
                <span class="btn btn-secondary" id="stopwatchCounterSelectButton">Count-up</span>
                <span class="btn btn-secondary" id="timerCounterSelectButton">Count-down</span>
                <span class="btn btn-secondary" id="pomodoroCounterSelectButton">Pomodoro</span>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/AjaxApi.js"></script>
    <script src="~/js/Watches.js"></script>
    <script>
        function StartDateTime(duration) {
            let date = new Date();
            duration *= 1000  // 'duration' is in seconds, convert to ms.
            date.setTime(date.getTime() - duration)
            return date.toISOString();
        }
    </script>
    <script>
        const alert = document.getElementById('alert');

        function ClearAlert() {
            alert.classList.add('d-none');
            const classnames = ['alert-info', 'alert-success', 'alert-danger', 'alert-warning'];
            classnames.forEach(e => alert.classList.remove(e))
        }

        function CategoryToBootstrapClass(category) {
            switch (category) {
                case 'info':
                    return 'alert-info';
                case 'success':
                    return 'alert-success';
                case 'error':
                    return 'alert-danger';
                case 'warning':
                    return 'alert-warning';
            }
        }

        /* category \in { 'info', 'success', 'error', 'warning' } */
        function DisplayAlert(category, info) {
            ClearAlert();
            alert.innerHTML = info;
            alert.classList.add(CategoryToBootstrapClass(category));
            alert.classList.remove('d-none');
        }

        function SignalUploadStart() {
            ClearAlert();
            DisplayAlert('info', 'Saving task...');
        }

        function SignalUploadSuccess() {
            ClearAlert();
            DisplayAlert('success', 'The task has been saved!');
        }

        function SignalUploadFailure() {
            ClearAlert();
            DisplayAlert('error', 'Error establishing connection to a server. You can press "Stop" to try again after sorting out issues.')
        }
    </script>
    <script>
        const SelectId = "tags"
        function GetSelectedTags() {
            let tags = [];
            for (option of document.getElementById(SelectId).selectedOptions) {
                tags.push(parseFloat(option.value));
            }
            return tags;
        }

        function FilterTags(input) {
            let filterString = input.value.toLowerCase();
            let selectObject = document.getElementById("tags");
            for (option of selectObject.options) {
                option.classList.remove("d-none");
                if (option.textContent.toLowerCase().indexOf(filterString) == -1) {
                    option.classList.add("d-none");
                }
            }
        }
    </script>
    <script>
        function DurationInSeconds(duration) {
            const c = duration.split(':').map(parseFloat);
            return c[0] * 60 * 60 + c[1] * 60 + c[2];
        }
        async function SaveTask(duration) {
            durationSeconds = DurationInSeconds(duration) 
            if (durationSeconds < 60) {
                DisplayAlert('info', 'Tasks shorter than a minute are not saved.')
                return true;
            }

            SignalUploadStart();
            let uploadSuccessful = false;
            try {
                await SendTask('@Url.Action("Submit", "Tasks")', "@csrfToken", {
                    StartTime: StartDateTime(durationSeconds),
                    Duration: duration,
                    TagIds: GetSelectedTags()
                }).then(v => {
                    if (v.status == 200) {
                        uploadSuccessful = true;
                        SignalUploadSuccess();
                    } else  {
                        uploadSuccessful = false;
                        SignalUploadFailure();
                    }
                });
            } catch (err) {
                uploadSuccessful = false;
                SignalUploadFailure();
            }
            return uploadSuccessful;
        }
    </script>
    <script>
        function CounterReady() {
            const p = GetSelectedTags().length == 0;
            if (p) {
                DisplayAlert('warning', 'Select at least a single tag for a task before starting!');
            }
            return !p;
        }
    </script>
    <script>
        let stopwatch = new Stopwatch('stopwatchClockface', 'stopwatchStart', async () => { if (CounterReady()) stopwatch.start() }, 'stopwatchStop', async () => {
            stopwatch.stop();
            if (await SaveTask(stopwatch.clockface.textContent)) {
                stopwatch.clear();
            }
        })
    </script>
    <script>
        const timerStopButton = $('#timerStopButton');
        const timerFormCard = $('#timerForm');
        const timerCard = $('#timerClock');
        const hoursInput = $('#timerHoursInput')[0];
        const minutesInput = $('#timerMinutesInput')[0];
        const secondsInput = $('#timerSecondsInput')[0];

        function GetTimerFormData() {
            return {
                hours: parseFloat(hoursInput.value),
                minutes: parseFloat(minutesInput.value),
                seconds: parseFloat(secondsInput.value)
            }
        }

        timerFormCard.submit(function (e) {
            e.preventDefault();
            if (CounterReady()) {
                let input = GetTimerFormData();
                timer.set(input.hours, input.minutes, input.seconds);
                timerFormCard.hide();
                timerCard.show();
                timer.start();
            }
        });

        timerStopButton.click(async function (e) {
            e.preventDefault();
            timer.stop();
            if (await SaveTask(timer.getDuration())) {
                timerCard.hide();
                timerFormCard.show();
            }
        });

        timerCard.hide();
        const timer = new Timer('timerClockface');
        timer.clear();
    </script>
    <script>
        const pomodoroStopButton = $('#pomodoroStopButton');
        const pomodoroFormCard = $('#pomodoroForm');
        const pomodoroCard = $('#pomodoroClock');
        const pomodoroMinutesInput = $('#pomodoroMinutesInput')[0];
        const breakMinutesInput = $('#breakMinutesInput')[0];

        let state = 'Form';  // Form, Pomodoro, Break
        let timerSettings;

        function GetPomodoroFormData() {
            return {
                pomodoroMinutes: parseFloat(pomodoroMinutesInput.value),
                breakMinutes: parseFloat(breakMinutesInput.value)
            }
        }

        pomodoroFormCard.submit(function (e) {
            e.preventDefault();
            if (CounterReady()) {
                state = 'Pomodoro';
                timerSettings = GetPomodoroFormData();
                pomodoroTimer.set(0, timerSettings.pomodoroMinutes, 0);
                pomodoroFormCard.hide();
                pomodoroCard.show();
                pomodoroTimer.start();
            }
        });

        pomodoroStopButton.click(async function (e) {
            e.preventDefault();
            if (state == 'Pomodoro') {
                pomodoroTimer.stop();
                if (await SaveTask(pomodoroTimer.getDuration())) {
                    state = 'Break';
                    pomodoroTimer.set(0, timerSettings.breakMinutes, 0);
                    pomodoroTimer.start();
                }
            } else if (state == 'Break') {
                state = 'Form';
                pomodoroTimer.stop();
                pomodoroCard.hide();
                pomodoroFormCard.show();
            }
        });

        pomodoroCard.hide();
        const pomodoroTimer = new Timer('pomodoroClockface');
        pomodoroTimer.clear();
    </script>
    <script>
        const stopwatchSelectButton = $('#stopwatchCounterSelectButton');
        const timerSelectButton = $('#timerCounterSelectButton');
        const pomodoroSelectButton = $('#pomodoroCounterSelectButton');

        const stopwatchCounterCard = $('#stopwatchCounterCard');
        const timerCounterCard = $('#timerCounterCard');
        const pomodoroCounterCard = $('#pomodoroCounterCard');
        const greetingCounterCard = $('#greetingCounterCard');

        greetingCounterCard.show();
        stopwatchCounterCard.hide();
        timerCounterCard.hide();
        pomodoroCounterCard.hide();

        stopwatchSelectButton.click(function (e) {
            stopwatchSelectButton.addClass("active");
            timerSelectButton.removeClass("active");
            pomodoroSelectButton.removeClass("active");
            greetingCounterCard.hide();
            stopwatchCounterCard.show();
            timerCounterCard.hide();
            pomodoroCounterCard.hide();
        });
        timerSelectButton.click(function (e) {
            stopwatchSelectButton.removeClass("active");
            timerSelectButton.addClass("active");
            pomodoroSelectButton.removeClass("active");
            greetingCounterCard.hide();
            stopwatchCounterCard.hide();
            timerCounterCard.show();
            pomodoroCounterCard.hide();
        });
        pomodoroSelectButton.click(function (e) {
            stopwatchSelectButton.removeClass("active");
            timerSelectButton.removeClass("active");
            pomodoroSelectButton.addClass("active");
            greetingCounterCard.hide();
            stopwatchCounterCard.hide();
            timerCounterCard.hide();
            pomodoroCounterCard.show();
        });
    </script>
}
