﻿@model Timetracker.Models.TagCreateViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Tag</h4>
        <hr />
        
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })

        <div class="mb-3 col-3">
            @Html.LabelFor(model => model.TagName, htmlAttributes: new { @class = "form-label" })
            @Html.EditorFor(model => model.TagName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TagName, "", new { @class = "text-danger" })
        </div>

        <div class="mb-3">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>