﻿@model Timetracker.Models.TagDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tag</h4>
    <hr />
    <dl class="row">
        <dt class="col-2">
            @Html.DisplayNameFor(model => model.Tag.Name)
        </dt>

        <dd class="col-10">
            @Html.DisplayFor(model => model.Tag.Name)
        </dd>

        <dt class="col-2">
            @Html.DisplayNameFor(model => model.Tag.TotalTime)
        </dt>

        <dd class="col-10">
            @Html.DisplayFor(model => model.Tag.TotalTime)
        </dd>

        <dt class="col-2">
            @Html.DisplayNameFor(model => model.Tasks)
        </dt>

        <dd class="col-10">
            <ul>
                @foreach (var task in Model.Tasks)
                {
                <li>
                    @Html.ActionLink(task.Name, "Details", "Tasks", new { id = task.Id }, new {})
                </li>
                }
            </ul>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Tag.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
