﻿@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery

@{
    ViewBag.Title = "Calendar";
    var csrfToken = Antiforgery.GetAndStoreTokens(Context).RequestToken;
}

@section Styles {
    <link rel="stylesheet" href="~/css/fullcalendar.min.css" />
}

<h2>Calendar</h2>

<div id="calendar"></div>

@section Scripts {
    <script src="~/js/fullcalendar.min.js"></script>
    <script src="~/js/AjaxApi.js"></script>
    <script>
        function FetchEvents(info, successCallback, failureCallback) {
            FetchTasks('@Url.Action("FetchTasks", "Analysis")', "@csrfToken", {
                StartTime: info.startStr,
                EndTime: info.endStr
            }).then(response => {
                if (response.status == 200) {
                    return response.json()
                } else {
                    console.log(`<ERROR> Error fetching tasks from the server. Invalid server response: ${response.status}. Full response:`)
                    console.log(response);
                    failureCallback()
                }
            }).then(data => {
                successCallback(data.tasks.map(e => {
                    return {
                        id: e.id,
                        start: e.startTime,
                        end: e.endTime,
                        title: e.name,
                        overlap: false,
                        editable: false
                    }
                }))
            })
        }
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            let calendarEl = document.getElementById('calendar');
            let calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'timeGridDay',
                timeZone: 'local',
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                events: FetchEvents,
                slotLabelFormat: {
                      hour: 'numeric',
                    minute: '2-digit',
                    omitZeroMinute: false,
                    hour12: false
                }
            });
            calendar.render();
        })
    </script>
}
