﻿@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery
@model IEnumerable<Timetracker.Models.Tag>

@{
    ViewBag.Title = "Index";
    var csrfToken = Antiforgery.GetAndStoreTokens(Context).RequestToken;
}

<h2>Analyze your time</h2>

<div class="row">
    <div class="col-md-4">
        <form id="chartForm">
            <div class="form-group">
                <label for="startDate">Start date</label>
                <input id="startDate" class="form-control" type="date" 
                       name="startDate" 
                       value="@DateTime.Now.ToString("yyyy-MM-dd")" required/>
            </div>
            <div class="form-group">
                <label for="endDate">End date</label>
                <input id="endDate" class="form-control" type="date" 
                       name="endDate" 
                       value="@DateTime.Now.AddDays(1).ToString("yyyy-MM-dd")" required/>
            </div>
            <div class="form-group">
                <label for="tags">Tags</label>
                <input class="form-control" type="text" placeholder="Filter tags..." oninput="FilterTags(this)" />
                <select class="form-control" name="tags" id="tags" multiple size="15">
                    @foreach (var tag in Model)
                    {
                        <option value="@tag.Id">@tag.Name</option>
                    }
                </select>
                <div class="radio">
                    <label>
                        <input id="whitelistRadio" type="radio" name="tagSelectionMode" value="whitelist" required /> Whitelist
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input id="blacklistRadio" type="radio" name="tagSelectionMode" value="blacklist" required /> Blacklist
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Chart" class="btn btn-block btn-success" />
            </div>
        </form>
    </div>
    <div class="col-md-8">
        <canvas id="barchart"></canvas>
    </div>
</div>

@section Scripts {
    <script src="~/js/chartjs.js"></script>
    <script src="~/js/AjaxApi.js"></script>
    <script src="~/js/Chart.js"></script>
    <script>
        const TagFilterInput = document.getElementById('tags');

        function GetSelectedTags() {
            let tags = [];
            for (option of TagFilterInput.selectedOptions) {
                tags.push(parseFloat(option.value));
            }
            return tags;
        }

        function FilterTags(input) {
            let filterString = input.value;
            for (option of TagFilterInput.options) {
                option.classList.remove("hidden");
                if (option.textContent.indexOf(filterString)) {
                    option.classList.add("hidden");
                }
            }
        }
    </script>
    <script>
        const ChartForm = document.getElementById('chartForm');
        InitChart('barchart');
        ChartForm.onsubmit = function (e) {
            e.preventDefault()
            let form = e.target;
            FetchTags('@Url.Action("FetchTags", "Analysis")', "@csrfToken", {
                StartTime: form.elements['startDate'].value,
                EndTime: form.elements['endDate'].value,
                TagIds: GetSelectedTags(),
                FilterType: form.elements['tagSelectionMode'].value
            }).then(response => {
                if (response.status == 200) {
                    return response.json()
                } else {
                    console.log(`<ERROR> Error fetching tag statistics from the server. Invalid server response: ${response.status}. Full response:`)
                    console.log(response);
                }
            }).then(data => {
                ChartTags('barchart', data)
                console.log("<INFO> Tag summary fetched:")
                console.log(data);
            })
        }
    </script>
    <script>
        const whitelistRadio = document.getElementById('whitelistRadio')
        const blacklistRadio = document.getElementById('blacklistRadio')
        const tagsSelect = document.getElementById('tags')

        whitelistRadio.oninput = function (e) {
            tagsSelect.setAttribute('required', '')
        }

        blacklistRadio.oninput = function (e) {
            tagsSelect.removeAttribute('required')
        }
    </script>
}
