html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.appname {
  font-family: 'Bonheur Royale', sans-serif;
}

.navbar-banner {
  font-size: 70px !important;
}